In [120]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
list_keys = ['Country', 'Total']
list_values = [['United States', 'Soviet Union', 'United Kingdom'], [1118, 473, 273]]

# Zip the 2 lists together into one list of (key,value) tuples: zipped
zipped = list(zip(list_keys,list_values))

# Inspect the list using print()
print(zipped)

# Build a dictionary with the zipped list: data
data = dict(zipped)

# Build and inspect a DataFrame from the dictionary: df
df = pd.DataFrame(data)
print(df)

[('Country', ['United States', 'Soviet Union', 'United Kingdom']), ('Total', [1118, 473, 273])]
          Country  Total
0   United States   1118
1    Soviet Union    473
2  United Kingdom    273

In [2]:
x=5
x

5

In [4]:
x-2,x*2,x**2,x%2,x/2,x/float(2)

(3, 10, 25, 1, 2.5, 2.5)

In [214]:
df = pd.DataFrame(
        {
            "a":[4,5,6],
            "b":[7,8,9],
            "c":[10,11,12]
        },
        index = [1,2,3])
df2 = pd.DataFrame(
        [[13,14,15],
        [16,17,18],
        [19,20,21]],
        index = [1,2,3],
        columns = ["a","b","c"])

In [222]:
print(df,"\n",pd.melt(df2))

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12
   variable  value
0        a     13
1        a     16
2        a     19
3        b     14
4        b     17
5        b     20
6        c     15
7        c     18
8        c     21