In [75]:
options(warn=-1)
library(dplyr,tidyr)

head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [5]:
#Converts data to tbl class. 
#tbl’s are easier to examine than data frames. 
#R displays only the data that fits onscreen
head(tbl_df(iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [7]:
#Information dense summary of tbl data.
glimpse(iris)

Observations: 150
Variables: 5
$ Sepal.Length <dbl> 5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4,...
$ Sepal.Width  <dbl> 3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7,...
$ Petal.Length <dbl> 1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, 1.5, 1.5,...
$ Petal.Width  <dbl> 0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2,...
$ Species      <fct> setosa, setosa, setosa, setosa, setosa, setosa, setosa...

In [8]:
str(iris)

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

In [9]:
#View data set in spreadsheet-like display (note capital V).
View(iris)

ERROR: Error in View(iris): ‘View()’ not yet supported in the Jupyter R kernel

In [14]:
# "Piping" with %>%
# x %>% f(y) is the same as f(x, y)
 iris %>%
        group_by(Species) %>%
        summarise(avg = mean(Sepal.Width)) %>%
        arrange(avg)
#1
head(iris)
#2
groups<-group_by(iris,Species)
#3
avgd<-summarise(groups,avg = mean(Sepal.Width))
#4
arrange(avgd,avg)

  Species    avg
1 versicolor 2.770
2 virginica  2.974
3 setosa     3.428

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

  Species    avg
1 versicolor 2.770
2 virginica  2.974
3 setosa     3.428

### Summarise Cases

In [86]:
#These apply summary functions to columns to create a new table of summary statistics. 
#Summary functions take vectors as input and return one value (see back).
summarise(mtcars, avg = mean(mpg))
summarise_all(mtcars,mean)
mtcars%>%summarise_at(vars(mpg,cyl),mean,na.rm = TRUE)
# The _if() variants apply a predicate function (a function that
# returns TRUE or FALSE) to determine the relevant subset of
# columns. Here we apply mean() to the numeric columns:
mtcars%>%summarise_if(is.numeric,mean,na.rm = TRUE)

#Count number of rows in each group defined by the variables in ... Also tally().
count(iris, Species)

#COUNTS
#dplyr::n() - number of values/rows 
#dplyr::n_distinct() - # of uniques
#sum(!is.na()) - # of non-NA’s
#LOCATION
#mean() - mean, also mean(!is.na()) 
#median() - median
#LOGICALS
#mean() - Proportion of TRUE’s 
#sum() - # of TRUE’s
#POSITION/ORDER
#dplyr::first() - first value
#dplyr::last() - last value
#dplyr::nth() - value in nth location of vector
#RANK
#quantile() - nth quantile 
#min() - minimum value 
#max() - maximum value
#SPREAD
#IQR() - Inter-Quartile Range
#mad() - median absolute deviation 
#sd() - standard deviation
#var() - variance

  avg
1 20.09062

  mpg      cyl    disp     hp       drat     wt      qsec     vs     am
1 20.09062 6.1875 230.7219 146.6875 3.596563 3.21725 17.84875 0.4375 0.40625
  gear   carb
1 3.6875 2.8125

  mpg      cyl
1 20.09062 6.1875

  mpg      cyl    disp     hp       drat     wt      qsec     vs     am
1 20.09062 6.1875 230.7219 146.6875 3.596563 3.21725 17.84875 0.4375 0.40625
  gear   carb
1 3.6875 2.8125

  Species    n
1 setosa     50
2 versicolor 50
3 virginica  50

### Group Cases

In [36]:
#Use group_by() to create a "grouped" copy of a table.
mtcars %>% group_by(cyl) %>% summarise(avg_mpg = mean(mpg))

  cyl avg_mpg
1 4   26.66364
2 6   19.74286
3 8   15.10000

In [38]:
#ungroup
g_iris <- group_by(iris, Species)
head(ungroup(g_iris))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

### Manipulate Cases

In [45]:
#Extract rows that meet logical criteria.
filter(iris, Sepal.Length > 7)
filter(iris, is.na(Sepal.Length))
filter(iris, !is.na(Sepal.Length) & Sepal.Length%in%c(7.6,7.1,7.7) | Sepal.Width == 3.8)

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  7.1          3.0         5.9          2.1         virginica
2  7.6          3.0         6.6          2.1         virginica
3  7.3          2.9         6.3          1.8         virginica
4  7.2          3.6         6.1          2.5         virginica
5  7.7          3.8         6.7          2.2         virginica
6  7.7          2.6         6.9          2.3         virginica
7  7.7          2.8         6.7          2.0         virginica
8  7.2          3.2         6.0          1.8         virginica
9  7.2          3.0         5.8          1.6         virginica
10 7.4          2.8         6.1          1.9         virginica
11 7.9          3.8         6.4          2.0         virginica
12 7.7          3.0         6.1          2.3         virginica

     Sepal.Length Sepal.Width Petal.Length Petal.Width Species

   Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1  5.7          3.8         1.7          0.3         setosa
2  5.1          3.8         1.5          0.3         setosa
3  5.1          3.8         1.9          0.4         setosa
4  5.1          3.8         1.6          0.2         setosa
5  7.1          3.0         5.9          2.1         virginica
6  7.6          3.0         6.6          2.1         virginica
7  7.7          3.8         6.7          2.2         virginica
8  7.7          2.6         6.9          2.3         virginica
9  7.7          2.8         6.7          2.0         virginica
10 7.9          3.8         6.4          2.0         virginica
11 7.7          3.0         6.1          2.3         virginica

In [40]:
#Remove rows with duplicate values.  
distinct(iris, Species)

  Species
1 setosa
2 versicolor
3 virginica

In [52]:
#Randomly select fraction of rows.
sample_frac(iris, 0.1, replace = TRUE)
sample_frac(iris, 0.1, replace = TRUE)
count(iris)

#Randomly select size rows.
sample_n(iris, 10, replace = TRUE)

#Select rows by position.
slice(iris, 10:15)

#Select and order top n entries (by group if grouped data).
top_n(iris, 5, Sepal.Width)

     Sepal.Length Sepal.Width Petal.Length Petal.Width Species
125  6.7          3.3         5.7          2.1         virginica
99   5.1          2.5         3.0          1.1         versicolor
106  7.6          3.0         6.6          2.1         virginica
9    4.4          2.9         1.4          0.2         setosa
54   5.5          2.3         4.0          1.3         versicolor
12   4.8          3.4         1.6          0.2         setosa
62   5.9          3.0         4.2          1.5         versicolor
118  7.7          3.8         6.7          2.2         virginica
95   5.6          2.7         4.2          1.3         versicolor
12.1 4.8          3.4         1.6          0.2         setosa
92   6.1          3.0         4.6          1.4         versicolor
34   5.5          4.2         1.4          0.2         setosa
52   6.4          3.2         4.5          1.5         versicolor
4    4.6          3.1         1.5          0.2         setosa
119  7.7          2.6         6.9          2.3         virginica

     Sepal.Length Sepal.Width Petal.Length Petal.Width Species
89   5.6          3.0         4.1          1.3         versicolor
12   4.8          3.4         1.6          0.2         setosa
104  6.3          2.9         5.6          1.8         virginica
150  5.9          3.0         5.1          1.8         virginica
109  6.7          2.5         5.8          1.8         virginica
86   6.0          3.4         4.5          1.6         versicolor
89.1 5.6          3.0         4.1          1.3         versicolor
1    5.1          3.5         1.4          0.2         setosa
50   5.0          3.3         1.4          0.2         setosa
3    4.7          3.2         1.3          0.2         setosa
27   5.0          3.4         1.6          0.4         setosa
86.1 6.0          3.4         4.5          1.6         versicolor
12.1 4.8          3.4         1.6          0.2         setosa
31   4.8          3.1         1.6          0.2         setosa
58   4.9          2.4         3.3          1.0         versicolor

  n
1 150

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
124 6.3          2.7         4.9          1.8         virginica
148 6.5          3.0         5.2          2.0         virginica
80  5.7          2.6         3.5          1.0         versicolor
112 6.4          2.7         5.3          1.9         virginica
13  4.8          3.0         1.4          0.1         setosa
48  4.6          3.2         1.4          0.2         setosa
22  5.1          3.7         1.5          0.4         setosa
47  5.1          3.8         1.6          0.2         setosa
127 6.2          2.8         4.8          1.8         virginica
93  5.8          2.6         4.0          1.2         versicolor

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 4.9          3.1         1.5          0.1         setosa
2 5.4          3.7         1.5          0.2         setosa
3 4.8          3.4         1.6          0.2         setosa
4 4.8          3.0         1.4          0.1         setosa
5 4.3          3.0         1.1          0.1         setosa
6 5.8          4.0         1.2          0.2         setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.4          3.9         1.7          0.4         setosa
2 5.8          4.0         1.2          0.2         setosa
3 5.7          4.4         1.5          0.4         setosa
4 5.4          3.9         1.3          0.4         setosa
5 5.2          4.1         1.5          0.1         setosa
6 5.5          4.2         1.4          0.2         setosa

In [53]:
#Order rows by values of a column or columns (low to high), 
#use with desc() to order from high to low.
head(arrange(mtcars, mpg) )
head(arrange(mtcars, desc(mpg)))

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
1 10.4 8   472  205 2.93 5.250 17.98 0  0  3    4
2 10.4 8   460  215 3.00 5.424 17.82 0  0  3    4
3 13.3 8   350  245 3.73 3.840 15.41 0  0  3    4
4 14.3 8   360  245 3.21 3.570 15.84 0  0  3    4
5 14.7 8   440  230 3.23 5.345 17.42 0  0  3    4
6 15.0 8   301  335 3.54 3.570 14.60 0  1  5    8

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
2 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
3 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
4 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
5 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
6 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2

In [58]:
# add one or more rows
tail(add_row(faithful, eruptions = c(1,2,3), waiting = c(1,2,3)))

    eruptions waiting
270 4.417     90
271 1.817     46
272 4.467     74
273 1.000      1
274 2.000      2
275 3.000      3

### Manipulate Variables

In [92]:
# Extract column values as a vector.
head(pull(iris, Sepal.Length))
head(pull(iris, 1))

# Extract columns as a table
head(select(iris, Sepal.Length, Species))
head(select(iris, 1:2))

#contains(match) ends_with(match) matches(match)
#num_range(prefix, range) one_of(...) starts_with(match)
head(select(iris, starts_with("Sepal")))

[1] 5.1 4.9 4.7 4.6 5.0 5.4

[1] 5.1 4.9 4.7 4.6 5.0 5.4

  Sepal.Length Species
1 5.1          setosa
2 4.9          setosa
3 4.7          setosa
4 4.6          setosa
5 5.0          setosa
6 5.4          setosa

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6
6 5.4          3.9

  Sepal.Length Sepal.Width
1 5.1          3.5
2 4.9          3.0
3 4.7          3.2
4 4.6          3.1
5 5.0          3.6
6 5.4          3.9

In [85]:
# These apply vectorized functions to columns. 
# Vectorized funs take vectors as input and return vectors of the same length as output
head(mutate(mtcars, gpm = 1/mpg))

#Compute new column(s), drop others.
head(transmute(mtcars, gpm = 1/mpg))

#OFFSETS
#dplyr::lag() - Offset elements by 1 
#dplyr::lead() - Offset elements by -1
#CUMULATIVE AGGREGATES
#dplyr::cumall() - Cumulative all() 
#dplyr::cumany() - Cumulative any()
#cummax() - Cumulative max() 
#dplyr::cummean() - Cumulative mean()
#cummin() - Cumulative min() 
#cumprod() - Cumulative prod() 
#cumsum() - Cumulative sum()
#RANKINGS
#dplyr::cume_dist() - Proportion of all values <= 
#dplyr::dense_rank() - rank with ties = min, no gaps
#dplyr::min_rank() - rank with ties = min 
#dplyr::ntile() - bins into n bins 
#dplyr::percent_rank() - min_rank scaled to [0,1] 
#dplyr::row_number() - rank with ties = "first"
#MATH
#+, - , *, /, ^, %/%, %% - arithmetic ops 
#log(), log2(), log10() - logs
#<, <=, >, >=, !=, == - logical comparisons
#dplyr::between() - x >= le  & x <= right 
#dplyr::near() - safe == for floating point numbers
#MISC
#dplyr::case_when() - multi-case if_else() 
#dplyr::coalesce() - first non-NA values by element across a set of vectors 
#dplyr::if_else() - element-wise if() + else() 
#dplyr::na_if() - replace specific values with NA
#pmax() - element-wise max()
#pmin() - element-wise min() 
#dplyr::recode() - Vectorized switch() 
#dplyr::recode_factor() - Vectorized switch()  for factors

  mpg  cyl disp hp  drat wt    qsec  vs am gear carb gpm
1 21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    0.04761905
2 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    0.04761905
3 22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    0.04385965
4 21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    0.04672897
5 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    0.05347594
6 18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    0.05524862

  gpm
1 0.04761905
2 0.04761905
3 0.04385965
4 0.04672897
5 0.05347594
6 0.05524862

In [73]:
# Apply funs to every column.
head(mutate_all(faithful, funs(log(.), log2(.))) )
head(mutate_if(iris, is.numeric, funs(log(.))))

# Apply funs to specific columns.
head(mutate_at(iris, vars( -Species), funs(log(.))))

  eruptions waiting eruptions_log waiting_log eruptions_log2 waiting_log2
1 3.600     79      1.2809338     4.369448    1.8479969      6.303781
2 1.800     54      0.5877867     3.988984    0.8479969      5.754888
3 3.333     74      1.2038728     4.304065    1.7368213      6.209453
4 2.283     62      0.8254904     4.127134    1.1909309      5.954196
5 4.533     85      1.5113840     4.442651    2.1804662      6.409391
6 2.883     55      1.0588314     4.007333    1.5275708      5.781360

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 1.629241     1.252763    0.3364722    -1.6094379  setosa
2 1.589235     1.098612    0.3364722    -1.6094379  setosa
3 1.547563     1.163151    0.2623643    -1.6094379  setosa
4 1.526056     1.131402    0.4054651    -1.6094379  setosa
5 1.609438     1.280934    0.3364722    -1.6094379  setosa
6 1.686399     1.360977    0.5306283    -0.9162907  setosa

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 1.629241     1.252763    0.3364722    -1.6094379  setosa
2 1.589235     1.098612    0.3364722    -1.6094379  setosa
3 1.547563     1.163151    0.2623643    -1.6094379  setosa
4 1.526056     1.131402    0.4054651    -1.6094379  setosa
5 1.609438     1.280934    0.3364722    -1.6094379  setosa
6 1.686399     1.360977    0.5306283    -0.9162907  setosa

In [82]:
# Add new column(s).
library(tibble)
head(add_column(mtcars, new = 1:32))

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb new
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4    1
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4    2
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1    3
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1    4
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2    5
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1    6

In [84]:
# Rename columns. 
head(rename(iris, Length = Sepal.Length))

  Length Sepal.Width Petal.Length Petal.Width Species
1 5.1    3.5         1.4          0.2         setosa
2 4.9    3.0         1.4          0.2         setosa
3 4.7    3.2         1.3          0.2         setosa
4 4.6    3.1         1.5          0.2         setosa
5 5.0    3.6         1.4          0.2         setosa
6 5.4    3.9         1.7          0.4         setosa

### Row Names

Tidy data does not use rownames, 
which store a variable outside of the columns. 
To work with the rownames, first move them into a column.

In [90]:
#Move row names into col.
head(rownames_to_column(iris, var = "idx"))

  idx Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 1   5.1          3.5         1.4          0.2         setosa
2 2   4.9          3.0         1.4          0.2         setosa
3 3   4.7          3.2         1.3          0.2         setosa
4 4   4.6          3.1         1.5          0.2         setosa
5 5   5.0          3.6         1.4          0.2         setosa
6 6   5.4          3.9         1.7          0.4         setosa

In [91]:
#Move col in row names.
a<-rownames_to_column(iris, var = "idx")
head(column_to_rownames(a, var = "idx"))

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

### Combine Tables

In [102]:
x<-data_frame(A=c("a","b","c"),B=c("t","u","v"),C=1:3)
y<-data_frame(A=c("a","b","d"),B=c("t","u","w"),D=3:1)
x
y

  A B C
1 a t 1
2 b u 2
3 c v 3

  A B D
1 a t 3
2 b u 2
3 d w 1

In [103]:
#paste tables beside each other as they are.
bind_cols(x,y)

  A B C A1 B1 D
1 a t 1 a  t  3
2 b u 2 b  u  2
3 c v 3 d  w  1

In [116]:
#Join matching values.
left_join(x, y)
left_join(x, y, by = "A")
left_join(x, y, by = c("C" = "D"))
left_join(x, y, by = c("C" = "D"), suffix = c("1", "2"))

Joining, by = c("A", "B")

  A B C D
1 a t 1  3
2 b u 2  2
3 c v 3 NA

  A B.x C B.y D
1 a t   1 t    3
2 b u   2 u    2
3 c v   3 NA  NA

  A.x B.x C A.y B.y
1 a   t   1 d   w
2 b   u   2 b   u
3 c   v   3 a   t

  A1 B1 C A2 B2
1 a  t  1 d  w
2 b  u  2 b  u
3 c  v  3 a  t

In [110]:
right_join(x,y)

Joining, by = c("A", "B")

  A B C  D
1 a t  1 3
2 b u  2 2
3 d w NA 1

In [111]:
inner_join(x,y)

Joining, by = c("A", "B")

  A B C D
1 a t 1 3
2 b u 2 2

In [112]:
full_join(x,y)

Joining, by = c("A", "B")

  A B C  D
1 a t  1  3
2 b u  2  2
3 c v  3 NA
4 d w NA  1

In [117]:
#Return rows of x that have a match in y.
semi_join(x,y)

Joining, by = c("A", "B")

  A B C
1 a t 1
2 b u 2

In [118]:
#Return rows of x that do not have a match in y.
anti_join(x,y)

Joining, by = c("A", "B")

  A B C
1 c v 3

In [126]:
x<-data_frame(A=c("a","b","c"),B=c("t","u","v"),C=1:3)
y<-data_frame(A=c("c","d"),B=c("v","w"),C=3:4)
x
y

  A B C
1 a t 1
2 b u 2
3 c v 3

  A B C
1 c v 3
2 d w 4

In [127]:
#Returns tables one on top of the other as a single table. 
bind_rows(x,y,.id="DF")

  DF A B C
1 1  a t 1
2 1  b u 2
3 1  c v 3
4 2  c v 3
5 2  d w 4

In [128]:
#Rows that appear in both x and y.
intersect(x, y)

  A B C
1 c v 3

In [130]:
#Rows that appear in x but not y.
setdiff(x, y)

  A B C
1 a t 1
2 b u 2

In [133]:
#Rows that appear in x or y.
union(x, y)
distinct(union_all(x, y))

  A B C
1 d w 4
2 c v 3
3 b u 2
4 a t 1

  A B C
1 a t 1
2 b u 2
3 c v 3
4 d w 4